# Ignore node_modules directory
/node_modules/

# Ignore any files or directories inside the client/build folder
client/build/
server/build/
# Ignore any files or directories inside the server/node_modules folder
/client/node_modules/
/server/node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore .DS_Store files
.DS_Store

# Ignore .vscode directory
.vscode/

# Ignore editor-specific files
*.sublime-project
*.sublime-workspace
*.idea/

# Ignore cache files
.cache/

# Ignore coverage directory
coverage/

# Ignore Jest coverage directory
__coverage__/

# Ignore compiled files
*.log
*.class
*.dll
*.exe
*.o
*.obj
*.so

# Ignore dependencies installed via npm
npm-debug.log
